.arrow {
  position: absolute;
  color: #000000;
  font-size: 2.5em;
  font-weight: bold;
  cursor: pointer;
}

.nextArrow {
  top: 252px;
  right: 50px;
  z-index: 1;
}

.prevArrow {
  top: 252px;
  left: 50px;
  z-index: 1;
}

.slick-dots {
  justify-content: unset !important;
  margin-left: calc(7% + 50px);
  position: relative;
  bottom: 85px;
}

.slick-dots li.slick-active button {
  background-color: #CC7E09;
  width: 25px;
  border-radius: 30px;
}

.slick-dots li {
  margin: 0 4px;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
}